<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="bits_pearl_2015.org.pearl_2015">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- GCM connects to Google Services. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <permission
        android:name="bits_pearl_2015.org.pearl_2015.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="bits_pearl_2015.org.pearl_2015.permission.C2D_MESSAGE" />
    <!-- This app has permission to register and receive dataf message. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_final"
        android:label="@string/app_name"
        android:theme="@style/TransparentTheme"
        tools:replace="android:icon">
        <activity
            android:name=".SplashScreen"
            android:label="@string/title_activity_splash_screen"
            android:screenOrientation="portrait">


            <intent-filter>
                <action android:name="bits_pearl_2015.org.pearl_2015.MESSAGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Splash_final"
            android:label="Pearl 2015"
            android:screenOrientation="portrait">


        </activity>
        <activity
            android:name=".HeadLinersFinal"
            android:label="@string/title_activity_head_liners_final"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SplashScreen" />
        </activity>
        <activity
            android:name=".Events_final"
            android:label="@string/title_activity_events_final"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SplashScreen" />
        </activity>
        <activity
            android:name=".ContactUs"
            android:label="@string/title_activity_contact_us"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SplashScreen" />
        </activity>
        <activity
            android:name=".SearchFlyActivity"
            android:label="Pearl 2015"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".Schedule"
            android:label="@string/title_activity_schedule"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SplashScreen" />
        </activity>
        <activity
            android:name=".Day_One"
            android:label="@string/title_activity_day__one"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TestActivity" />
        </activity>
        <activity
            android:name=".TestActivity"
            android:label="@string/title_activity_test"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SplashScreen" />
        </activity>


        <receiver
            android:name="com.pushbots.google.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <!-- Receives the registration id. -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="bits_pearl_2015.org.pearl_2015" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.pushbots.push.DefaultPushHandler" />

        <service android:name="com.pushbots.push.GCMIntentService" />
        <service
            android:name="org.OpenUDID.OpenUDID_service"
            android:exported="false">
            <intent-filter>
                <action android:name="org.openudid.GETUDID" />
            </intent-filter>
        </service>

    </application>

</manifest>
